[Desktop Entry]
Type=Application
Icon=/home/${HOME}/SimuliDE/simulide_header.png
Name=SimulIDE
Terminal=false
Hidden=false
Categories=Development; Education; Science
Exec=/home/${HOME}/SimuliDE/simulide.AppImage
Path=/home/${HOME}/SimuliDE
StartupWMClass=arronax
