[Desktop Entry]
Type=Application
Icon=/home/user/SimuliDE/simulide_header.png
Name=SimulIDE
Terminal=false
Hidden=false
Categories=Development; Education; Science
Exec=/home/user/SimuliDE/simulide.AppImage
Path=/home/user/SimuliDE
StartupWMClass=arronax
